* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Space Mono", sans-serif;

  body {
    -webkit-font-smoothing: antiliased;
    -moz-osx-font-smoothing: grayscale;
  }
}

:root {
  --background: #141c2f;
  --white: #fff;
  --white-icon: #fff;
  --card: #1f2a48;
  --blue: #0079fe;
  --gray: #a2a7b3;
  --background-info: #141c2f;
  --white-two: #fff;
  --info-icons: #fff;
}

[data-theme="light"] {
  --background: #f6f8ff;
  --white: #000;
  --white-icon: #697c9a;
  --background-info: #f6f8ff;
  --gray: #000;
  --card: #fff;
  --info-icons: #4b6a9b;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: var(--background);
  min-height: 100vh;
  padding: 0 5rem;
}
